{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static "fons/favicon.png" %}"/>
    <link rel="stylesheet" href="{% static 'fons/style.css' %}">
{% endblock %}

{% block header %}
    <a id="title-wrapper" href="{% url 'fons:index' %}">
        <img id="logo" src="{% static "fons/icon.svg" %}">
        <span id="title">Fons</span>
        <span id="subtitle">{% trans "Know the truth" %}</span>
    </a>
    <nav id="header-nav">
    </nav>
{% endblock %}