{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static "darwin/icon.png" %}"/>
    <link rel="stylesheet" href="{% static 'darwin/style.css' %}">
{% endblock %}

{% block header %}
    <a id="title-wrapper" href="{% url 'darwin:index' %}">
        <img id="logo" src="{% static "darwin/icon.svg" %}">
        <span id="title">Darwin</span>
        <span id="subtitle">{% trans "Society evolved" %}</span>
    </a>
    <nav id="header-nav">
    </nav>
{% endblock %}