#header-wrapper, #footer-wrapper {
    background: #5ea646;
}

#title-wrapper, #header-nav a, #footer-wrapper a {
    color: #aed998;
}

#title {
    font-size: 3.8em;
}

#subtitle{
    font-size: 1.2em;
}