#header-wrapper, #footer-wrapper {
    background: #d9edff;
}

#title-wrapper, #header-nav a, #footer-wrapper a {
    color: #559bdf;
}

#title {
    font-size: 3.8em;
}

#subtitle {
    font-size: 1.2em;
}