#header-wrapper, #footer-wrapper {
    background: #c0ccc1;
}

#title-wrapper, #header-nav a, #footer-wrapper a {
    color: #553b31;
}

#title {
    font-size: 3.8em;
}

#subtitle{
    font-size: 1.2em;
}