{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static "mereokratos/favicon.png" %}"/>
    <link rel="stylesheet" href="{% static 'mereokratos/style.css' %}">
{% endblock %}

{% block header %}
    <img id="logo" src="{% static "mereokratos/icon.svg" %}">
    <div id="title-wrapper">
        <span id="title">Mereokratos</span><br>
        {% trans "Better representation" %}
    </div>
    <nav id="header-nav">
    </nav>
{% endblock %}