{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static "mereokratos/icon.png" %}"/>
    <link rel="stylesheet" href="{% static 'mereokratos/style.css' %}">
{% endblock %}

{% block header %}
    <a id="title-wrapper" href="{% url 'mereokratos:index' %}">
        <img id="logo" src="{% static "mereokratos/icon.svg" %}">
        <div style="display: flex; flex-direction: column">
            <span id="title">Mereokratos</span>
            <span id="subtitle">{% trans "Better representation" %}</span>
        </div>
    </a>
    <nav id="header-nav">
    </nav>
{% endblock %}