{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static "dejure/icon.png" %}"/>
    <link rel="stylesheet" href="{% static 'dejure/style.css' %}">
{% endblock %}

{% block header %}
    <a id="title-wrapper" href="{% url 'dejure:index' %}">
        <img id="logo" src="{% static "dejure/icon.svg" %}">
        <span id="title">DeJure</span>
        <span id="subtitle">{% trans "Law understood" %}</span>
    </a>
    <nav id="header-nav">
    </nav>
{% endblock %}