#header-wrapper, #footer-wrapper {
    background: #4696a6;
}

#title-wrapper, #header-nav a, #footer-wrapper a {
    color: #cadce0;
}

#title {
    font-size: 3.8em;
}

#subtitle{
    font-size: 1.2em;
}

#index {
    min-height: 100%;
    display: flex;
    flex-flow: column;
}

.index-pane {
    min-height: 300px;
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 10px #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.index-pane-title {
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: rgba(157, 182, 197, 0.5);
    border-bottom-right-radius: 10px;
    border-right: 2px solid gray;
    font-weight: bold;
}

.index-pane-credit {
    text-align: right;
    color: white;
    text-decoration: none;
    font-size: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.fallacies, .fallacy-examples {
    margin: 0 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.fallacy, .fallacy-example {
    box-shadow: 0 0 2px #999;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    background-color: #f5f5f5;
    width: calc(50% - 40px);
}

.fallacy {
    padding: 5px 10px;
    flex-direction: row;
}

.fallacy.child {
    display: none;
}

.fallacy img {
    width: 64px;
    height: 64px;
}

.fallacy > div {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    border-left: 1px solid gray;
    padding-left: 5px;
}

.fallacy .name {
    font-weight: bold;
}

.fallacy-cover {
    background-color: #f0f0f0;
}

.fallacy-cover img {
    float: left;
    height: 128px;
    margin-right: 20px;
}

.fallacy-cover h1 {
    margin-top: 0;
}

.fallacy-example {
    flex-direction: column;
}


.fallacy-example-text {
    padding: 10px;
}

.fallacy-example-explanation {
    background-color: rgba(0, 0, 0, 0.10);
    padding: 10px;
}
