#header-wrapper, #footer-wrapper {
    background: #bbdcdf;
}

#header-nav a, #footer-wrapper a {
    color: #555;
}

#index {
    min-height: 100%;
    display: flex;
    flex-flow: column;
}

.index-pane {
    min-height: 300px;
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 10px #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.index-pane-title {
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: rgba(157, 182, 197, 0.5);
    border-bottom-right-radius: 10px;
    border-right: 2px solid gray;
    font-weight: bold;
}

.index-pane-credit {
    text-align: right;
    color: white;
    text-decoration: none;
    font-size: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.fallacies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.fallacy {
    box-shadow: 0 0 5px #777;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 45%;
    background-color: #ebebeb;
}

.fallacy img {
    max-width: 64px;
    max-height: 64px;
}

.fallacy > div {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    border-left: 1px solid gray;
    padding-left: 5px;
}

.fallacy .name {
    font-weight: bold;
}