{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static "candelabrus/favicon.png" %}"/>
    <link rel="stylesheet" href="{% static 'candelabrus/style.css' %}">
{% endblock %}

{% block header %}
    <img id="logo" src="{% static "candelabrus/icon.svg" %}">
    <div id="title-wrapper">
        <span id="title">Candelabrus</span><br>
        {% trans "Support for enlightenment" %}
    </div>
    <nav id="header-nav">
        <a href="#">Blog</a>
        <a href="#">{% trans "Contribute" %}</a>
    </nav>
{% endblock %}