{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static "candelabrus/icon.png" %}"/>
    <link rel="stylesheet" href="{% static 'candelabrus/style.css' %}">
{% endblock %}

{% block header %}
    <a id="title-wrapper" href="{% url 'index' %}">
        <img id="logo" src="{% static "candelabrus/icon.svg" %}">
        <div style="display: flex; flex-direction: column">
            <span id="title">Candelabrus</span>
            <span id="subtitle">{% trans "Support for enlightenment" %}</span>
        </div>
    </a>
    <nav id="header-nav">
        <a href="#">Blog</a>
        <a href="#">Contribute</a>
    </nav>
{% endblock %}