{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static "nietz/favicon.png" %}"/>
    <link rel="stylesheet" href="{% static 'nietz/style.css' %}">
{% endblock %}

{% block header %}
    <a id="title-wrapper" href="{% url 'nietz:index' %}">
        <img id="logo" src="{% static "nietz/icon.svg" %}">
        <span id="title">Nietz</span>
        <span id="subtitle">{% trans "Learn arguing" %}</span>
    </a>
    <nav id="header-nav">
        <a href="{% url 'nietz:concepts' %}">{% trans "Concepts" %}</a>
        <a href="{% url 'nietz:fallacies' %}">{% trans "Fallacies" %}</a>
        <a href="#">{% trans "Biases" %}</a>
    </nav>
{% endblock %}