{% extends 'nietz/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="formatter">
        <h2>{% trans "These are the most generic fallacies. Click them to learn more:" %}</h2>
        <div class="fallacies">
            {% for fallacy in fallacies %}
                <div class="fallacy{% if fallacy.fallacy.parent is not None %} child{% endif %}">
                    {% if fallacy.fallacy.image %}
                        <img src="{{ fallacy.fallacy.image.url }}"/>
                    {% else %}
                        <img src="{% static 'nietz/icon.svg' %}"/>
                    {% endif %}
                    <div>
                        <a href="{% url 'nietz:fallacy' fallacy.fallacy.id %}" class="name">{{ fallacy.name.capitalize }}</a>
                        <span class="description">{{ fallacy.description }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if untranslated_fallacies.exists %}
            <h2>{% trans "There are a few more, but they haven't been translated yet:" %}</h2>
            <div class="fallacies">
                {% for fallacy in untranslated_fallacies %}
                    <div class="fallacy{% if fallacy.fallacy.parent is not None %} child{% endif %}">
                        {% if fallacy.fallacy.image %}
                            <img src="{{ fallacy.fallacy.image.url }}"/>
                        {% else %}
                            <img src="{% static 'nietz/icon.svg' %}"/>
                        {% endif %}
                        <div>
                            <a href="{% url 'nietz:fallacy' fallacy.fallacy.id %}" class="name">{{ fallacy.name.capitalize }}</a>
                            <span class="description">{{ fallacy.description }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}