html {
    height: 100%;
}

body {
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    flex-wrap: nowrap;
}

h1 {
    margin: 16px 0;
}

h2{
    margin: 12px 0;
}

h3{
    margin: 10px 0;
}

a , a:active {
    text-decoration: none;
    color: #2d9adf;
}

/* Caps the content width within the page sections*/
.width-limiter {
    width: 1250px;
    max-width: calc(100% - 30px);
    margin: auto;
}

#header-wrapper {
    border-bottom: 2px solid gray;
}

/* --- HEADER --- */
#header-wrapper .width-limiter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


#logo-wrapper {
    padding: 5px;
}

#logo {
    height: 64px;
    padding: 5px 0;
    margin-right: 20px;
    float: left;
}

#header-nav {
    height: 100%;
    align-self: center;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#header-nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 20px;
}

/* --- CENTER --- */
#center-wrapper {
    flex-grow: 1;
}


/* Shade to the sides of the center width limiter*/
#center-wrapper .width-limiter {
    position: relative;
    height: 100%;
}

/* --- FOOTER --- */
#footer-wrapper {
    border-top: 2px solid gray;
}

#footer-wrapper .width-limiter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#portals {
    padding: 5px 5px;
    font-size: 1.2em;
    font-weight: bold;
    background: linear-gradient(to bottom, white 0%, #f5f7f9 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid gray;
    border-top: none;
    border-left: none;
    position: relative;
    top: -2px;
}

#portals a {
    display: inline-block;
    width: 32px;
    height: 32px;
    transition: 200ms;
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0, 0) !important;
}

#portals a:hover {
    display: inline-block;
    height: 32px;
    transition: 200ms;
    position: relative;
    text-align: center;
    color: #FFF !important;
    text-shadow: 0 0 5px #000;
    width: 120px;
}

#portals span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portals img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

#portals a:first-child {
    padding-right: 5px;
    border-right: 1px solid #777;
}

#footer-links {
    padding: 5px 0;
    font-weight: bold;
}

#footer-links a {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
}

#footer-links img {
    vertical-align: middle;
}

/* --- Helpers --- */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.formatter {
    padding: 20px;
}

#center-wrapper .width-limiter:before {
    box-shadow: -15px 0 15px -15px inset #777;
    content: " ";
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 15px;
}

#center-wrapper .width-limiter:after {
    box-shadow: 15px 0 15px -15px inset #777;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
    width: 15px;
}